<html>
    <head>
        <title>Todo lists</title>
    </head>
    <body>
        <h1>Your Todo list</h1>
        <form method="POST">
            <input
                id="id_new_item" 
                name="item_text" 
                placeholder="Enter a todo item" />
            <!-- Django expects csrf_token as protection against 
                 Cross-Site Request Forgery in every form -->
            {% csrf_token %}
        </form>

        <table id="id_list_table">
            <tr>
                <td>1: {{ new_item_text }}</td>
            </tr>
        </table>
    </body>
</html>